.AppHeaderTxt{
    margin-left: .9vmin;
  }

.bodyHeader{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');
}

a:link{
    color: rgba(0,0,0);
}

a:hover{
    font-size: 20px;
}

a:visited{
    color: rgba(0,0,0);
}